# Environnements
venv/
.venv/
.env

# Fichiers système
__pycache__/
*.pyc
*.sqlite
.DS_Store

# Données brutes (à externaliser)
/data/
*.csv
*.xlsx

# Documentation générée
docs/_build/

# Exceptions (fichiers à versionner malgré les patterns ci-dessus)
!data_model/sample_data.sql
